
:root{
    --primary_colour: #A7C957;
    --secondary_colour: #BDD781;
    --accent_colour: #F2E8CF;

    --primary_text: #386641;
    --secondary_text: #181818;
    --accent_text: #ffffff;

    --card_colour_1: #479DBC;
    --card_colour_2: #408EAA;
    --card_colour_3: #35768D;
    --impact_colour: #d4edda;

    --product-button-bg: #ececec;
    --input-border: #ccc;
    --input-bg: #ffffff;
    --section-bg: #f9f9f9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: var(--primary_text);
  font-weight: 600;
  font-size: 40px;
}

.calcContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--accent_text);
  color: var(--primary_text);
}

.calcForm {
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--section-bg);
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
}

.calcInput {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: var(--primary_text);
}

.calcLabel {
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  color: var(--primary_text);
  font-weight: 800;
  font-size: 20px;
}

.calcButton {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--secondary_colour);
  color: var(--secondary_text);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 18px;
}

.calcButton:hover {
  background-color: var(--primary_colour);
}

.totalCO2 {
  font-size: 1.2em;
  margin-top: 16px;
  font-weight: bold;
}

.impact {
  font-size: 1em;
  margin-top: 8px;
}

.impactTable {
  margin-top: 16px;
  padding: 5px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: var(--impact_colour);
}

.calcOutput {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.calc_spacer{
  height: 6rem;
}
