:root{
    --primary_colour: #A7C957;
    --secondary_colour: #BDD781;
    --accent_colour: #F2E8CF;

    --primary_text: #386641;
    --secondary_text: #181818;
    --accent_text: #ffffff;

    --card_colour_1: #479DBC;
    --card_colour_2: #408EAA;
    --card_colour_3: #35768D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}


.stat_circle_svg{
    position:absolute;
    top:17%;
    left:18%;
    width:60%;
    height:60%;
    padding: 15px;
}


@media screen and (max-width: 2545px) {
    .stat_circle_svg{
        top:20%;
        left:18%;
    }
}

@media screen and (min-width: 1920px) {
    .stat_circle_svg{
        top:20%;
        left:19%;
    }
}

@media screen and (max-width: 1280px){
    .stat_circle_svg{
        top: 20%;
    }
}

@media screen and ((max-width: 1024px)){
    .stat_circle_svg{
        top: 25%;
        width:55%;
        height:55%;
        left:21%;
    }
}

@media screen and (min-width: 820px) and (max-width: 912px) {
     .stat_circle_svg{
         top: 6%;
         width:65%;
         height:65%;
         left:15%;
    }
  
}

@media screen and (max-width: 768px) {
     .stat_circle_svg{
         top: 9%;
         width:65%;
         height:65%;
         left:15%;
     }
}

@media screen and (max-width: 480px) {
    .stat_circle_svg{
        top:-1%;
        width:60%;
        height:60%;
        left:18%;
    }
}

@media screen and (max-width: 414px) {
.stat_circle_svg{
  margin-top: 10%;
  width: 55%;
  height: 55%;
  left: 20%;
}
}
