:root{
    --primary_colour: #A7C957;
    --secondary_colour: #BDD781;
    --accent_colour: #F2E8CF;

    --primary_text: #386641;
    --secondary_text: #181818;
    --accent_text: #ffffff;

    --card_colour_1: #479DBC;
    --card_colour_2: #408EAA;
    --card_colour_3: #35768D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

.stat_circle_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat_circle_svg{
    position:relative;
    width: 60%;
    height: 60%;
}


@media screen and (max-width: 2545px) {
    .stat_circle_svg{
        width:90%;
        height:90%;
    }
}

@media screen and (min-width: 1920px) {
    .stat_circle_svg{
        width:80%;
        height:80%;
    }
}

@media screen and (max-width: 1280px){
    .stat_circle_svg{
        width:60%;
        height:60%;
    }
}

@media screen and ((max-width: 1024px)){
    .stat_circle_svg{
        width:55%;
        height:55%;
    }
}

@media screen and (min-width: 820px) and (max-width: 912px) {
     .stat_circle_svg{
         width:65%;
         height:65%;
    }
  
}

@media screen and (max-width: 768px) {
     .stat_circle_svg{
         width:65%;
         height:65%;
     }
}

@media screen and (max-width: 480px) {
    .stat_circle_svg{
        width:60%;
        height:60%;
    }
}

@media screen and (max-width: 414px) {
.stat_circle_svg{
  width: 55%;
  height: 55%;
}
}
