:root{
    --primary_colour: #A7C957;
    --secondary_colour: #BDD781;
    --accent_colour: #F2E8CF;

    --primary_text: #386641;
    --secondary_text: #181818;
    --accent_text: #ffffff;

    --card_colour_1: #479DBC;
    --card_colour_2: #408EAA;
    --card_colour_3: #35768D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}


.stat_circle_svg{
    position:fixed;
    top:15%;
    left:18%;
    width:60%;
    height:60%;
    padding: 15px;
}

@media (max-width: 912px) {
    .stat_circle_svg{
        top:2%;
        left:13%;
        width:70%;
        height:70%;
    }
    
}


@media (min-width: 768px) and (max-width: 820px) {
    .stat_circle_svg{
        top:2%;
        left:13%;
        width:70%;
        height:70%;
    }
    
}

@media (max-width: 480px) {
    .stat_circle_svg{
        top:0%;
        left:8%;
        width:80%;
        height:80%;
    }
}