:root{
    --primary_colour: #A7C957;
    --secondary_colour: #BDD781;
    --accent_colour: #F2E8CF;

    --primary_text: #386641;
    --secondary_text: #181818;
    --accent_text: #ffffff;

    --card_colour_1: #479DBC;
    --card_colour_2: #408EAA;
    --card_colour_3: #35768D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

.background_semi_circle {
    z-index: -1;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -55%;
    left: 0rem;
}

.footerbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--accent_colour);
  height: 60px;
  width: 100vw;
  padding: 20px 0px;
  margin-top: 40px;
  z-index: 10;
}

.footerbar a{
    display: flex;
    color: var(--secondary_text);
    text-decoration: none;
    transition: background-color 0.3s;
}


@media (max-width: 600px) {
  .footerbar {
    flex-direction: column; 
    height: auto; 
    padding: 1rem;
  }

  .footerbar a {
    width: 100%;
    padding: 0.75rem;
  }
}
