:root {
  --impact_colour: #d4edda;
}

.calcContainer {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.calcInput {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.calcLabel {
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
}

.calcButton {
  background-color: #bdd781;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.calcButton:hover {
  background-color: #a7c957;
}

.totalCO2 {
  font-size: 1.2em;
  margin-top: 16px;
  font-weight: bold;
}

.impact {
  font-size: 1em;
  margin-top: 8px;
}

.impactTable {
  margin-top: 16px;
  padding: 5px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: var(--impact_colour);
}

.calcOutput {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}
