:root{
    --primary_colour: #A7C957;
    --secondary_colour: #BDD781;
    --accent_colour: #F2E8CF;

    --primary_text: #386641;
    --secondary_text: #181818;
    --accent_text: #ffffff;

    --card_colour_1: #479DBC;
    --card_colour_2: #408EAA;
    --card_colour_3: #35768D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

body {
    background-color: var(--secondary_colour);
    color: var(--primary_text);
    padding-top: 60px;
}

.card_container.home-card-deck {
  margin-top: 50%;
}


@media screen and (max-width: 2545px) {
.card_container.home-card-deck {
  margin-top: 50%;
}
}

@media screen and (min-width: 1920px) {
.card_container.home-card-deck {
  margin-top: 65%;
}
}

@media screen and (max-width: 1280px){
.card_container.home-card-deck {
  margin-top: 43%;
}
}

@media screen and ((max-width: 1024px)){
.card_container.home-card-deck {
  margin-top: 40%;
}
}

@media screen and (min-width: 820px) and (max-width: 912px) {
.card_container.home-card-deck {
  margin-top: 90%;
}
  
}

@media screen and (max-width: 768px) {
.card_container.home-card-deck {
  margin-top: 85%;
}
}

@media screen and (max-width: 480px) {
.card_container.home-card-deck {
  margin-top: 80%;
}
}

@media screen and (max-width: 414px) {
.card_container.home-card-deck {
  margin-top: 70%;
}
}
