:root{
    --primary_colour: #A7C957;
    --secondary_colour: #BDD781;
    --accent_colour: #F2E8CF;

    --primary_text: #386641;
    --secondary_text: #181818;
    --accent_text: #ffffff;

    --card_colour_1: #479DBC;
    --card_colour_2: #408EAA;
    --card_colour_3: #35768D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

body {
    background-color: var(--secondary_colour);
    color: var(--primary_text);
    padding-top: 60px;
}

.home_h1{
  font-size: 60px;
}

.home_h2{
  display: flex;
  justify-content: center;
  padding:20px;
  margin-top: 26rem;
  font-size: 50px;
}

.paragraph_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

p{
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
}

@media screen and (max-width: 2545px) {

}

@media screen and (min-width: 1920px) {

}

@media screen and (max-width: 1280px){

  
}

@media screen and ((max-width: 1024px)){

  
}

@media screen and (min-width: 820px) and (max-width: 912px) {

  
}

@media screen and (max-width: 768px) {

  
}

@media screen and (max-width: 480px) {

  
}

@media screen and (max-width: 412px) {

  
}
