
:root {
  --primary_colour: #A7C957;
  --secondary_colour: #BDD781;
  --accent_colour: #F2E8CF;

  --primary_text: #386641;
  --secondary_text: #181818;
  --accent_text: #ffffff;

  --card_colour_1: #479DBC;
  --card_colour_2: #408EAA;
  --card_colour_3: #35768D;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

body {
  background-color: var(--secondary_colour);
  color: var(--primary_text);
  padding-top: 60px;
}

.home_h1 {
  font-size: 60px;
}

.info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0%;
  padding: 20px;
}

.home_h2 {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 50px;
}

p {
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  overflow-wrap: anywhere;
  min-width: 0;
}

.paragraph_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

.paragraph_container p {
  font-size: 16px;
  line-height: 1.6;
  overflow-wrap: anywhere;
}

@media (min-width: 2545px) {
  .paragraph_container {
    width: 10%;
  }

  .home_h2 {
    font-size: 70px;
  }

  .paragraph_container p {
    font-size: 32px;
  }
}

/* Large desktops */
@media (min-width: 1920px) {
  .paragraph_container {
    width: 40%;
  }
  
  .home_h2 {
    font-size: 60px;
  }
  .paragraph_container p {
    font-size: 28px;
  }
}

/* Laptops */
@media (max-width: 1280px) {
  .info_container {
    margin-top: 5%;
  }

  .paragraph_container {
    width: 60%;
  }

  .paragraph_container p {
    font-size: 30px;
  }

}

/* Tablet landscape */
@media (max-width: 1024px) {
  .paragraph_container p {
    font-size: 25px;
  }

  .paragraph_container {
    width: 70%;
  }

  .home_h2 {
    font-size: 40px;
  }
}


@media (max-width: 912px) {
  .info_container {
    margin-top: 10%;
  }
  .paragraph_container {
    width: 85%;
  }

 .paragraph_container p {
    font-size: 25px;
  }
  
  .home_h2 {
    font-size: 40px;
  }
}

/* Tablet portrait */
@media (max-width: 768px) {
  .info_container {
    margin-top: 10%;
  }
  
  .paragraph_container {
    width: 85%;
  }

  p {
    font-size: 18px;
  }
  
  .home_h2 {
    font-size: 40px;
  }
}

/* Small phones */
@media (max-width: 480px) {
  .paragraph_container {
    width: 95%;
  }

  p {
    font-size: 17px;
  }

 .home_h2 {
    font-size: 40px;
  }
}

/* Very small phones */
@media (max-width: 375px) {
  .paragraph_container {
    width: 100%;
  }

  p {
    font-size: 14px;
  }
  .home_h2 {
    font-size: 40px;

  }
}

@media (max-width: 320px) {
  .paragraph_container {
    width: 100%;
  }

  .paragraph_container p {
    font-size: 18px;
  }
  .home_h2 {
    font-size: 30px;

  }
}