:root{
    --primary_colour: #A7C957;
    --secondary_colour: #BDD781;
    --accent_colour: #F2E8CF;

    --primary_text: #386641;
    --secondary_text: #181818;
    --accent_text: #ffffff;

    --card_colour_1: #479DBC;
    --card_colour_2: #408EAA;
    --card_colour_3: #35768D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

.footerbar {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content:center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;

    background-color: var(--accent_colour);

    padding: 15px 20px;
    z-index: 1000;
    gap: 1rem;
    overflow: visible;
}
a {
    padding: 20px 20px;
    color: var(--secondary_text);
    text-decoration: none;
    transition: background-color 0.3s;
}