#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

:root{
    --primary_colour: #A7C957;
    --secondary_colour: #BDD781;
    --accent_colour: #F2E8CF;

    --primary_text: #386641;
    --secondary_text: #181818;
    --accent_text: #ffffff;

    --card_colour_1: #479DBC;
    --card_colour_2: #408EAA;
    --card_colour_3: #35768D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

body {
    background-color: var(--secondary_colour);
    color: var(--primary_text);
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.background_image{
    position: absolute;
    top: -35rem;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

@media screen and (max-width: 2545px) {
    .background_image {
        top: -55rem;
    }
}

@media screen and (min-width: 1920px) {
    .background_image {
        top: -75rem;
    }
  
}

@media screen and (max-width: 1280px){
    .background_image {
        top: -32rem;
    }
  
}

@media screen and ((max-width: 1024px)){
    .background_image {
        top: -27rem;
    }
  
}

@media screen and (min-width: 820px) and (max-width: 912px) {
    .background_image {
        top: -8rem;
    }
  
}

@media screen and (max-width: 768px) {
    .background_image {
        top: 0rem;
    }
  
}

@media screen and (max-width: 480px) {
    .background_image {
        top: 0rem;
    }
  
}

@media screen and (max-width: 412px) {
    .background_image {
        top: 1rem;
    }
  
}