:root{
    --primary_colour: #A7C957;
    --secondary_colour: #BDD781;
    --accent_colour: #F2E8CF;

    --primary_text: #386641;
    --secondary_text: #181818;
    --accent_text: #ffffff;

    --card_colour_1: #479DBC;
    --card_colour_2: #408EAA;
    --card_colour_3: #35768D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

.card_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap:20px;
}

.card_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 12rem;
    background-color: var(--accent_colour);
    border-radius: 15px;
    transition: transform 0.3s;
    position: relative;
}
.card_section:hover {
    transform: translateY(-10px);
    background-color: var(--accent_text);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.top_card_1, .top_card_2, .top_card_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 11rem;
    background-color: var(--card_colour_1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 4rem;
}

.top_card_2 {
    background-color: var(--card_colour_2);
}

.top_card_3 {
    background-color: var(--card_colour_3);
}

.solar_panel_green, .green_car, .green_house {
    width: 12rem;
    height: 8rem;
    margin-top: 10px;
}

.green_house, .green_car {
    height: 10rem;
}
.card_desc{
    position: absolute;
    margin-top: 11rem;
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .card_container {
        flex-direction: column;
    }

    .card_section {
        width: 60%;
        margin-bottom: 20px;
    }

    .top_card_1, .top_card_2, .top_card_3 {
        width: 100%;
    }
    .solar_panel_green, .green_car, .green_house {
        width: 50%;
        height: auto;
    }

    .card_desc {
        margin-top: 11rem;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .card_container {
        flex-direction: column;
    }

    .card_section {
        width: 60%;
        margin-bottom: 20px;
    }

    .top_card_1, .top_card_2, .top_card_3 {
        width: 100%;
    }
    .solar_panel_green, .green_car, .green_house {
        width: 80%;
        height: auto;
    }
    .card_desc {
        margin-top: 11rem;
        font-size: 0.9rem;
    }
}
